body {
  font-family: sans-serif;
  margin: 0 auto;
  width: 800px;
  text-align: left;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: red;
}

h2 {
  margin-top: 20px;
  color: red;
}

p {
  margin-bottom: 20px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

img[src="westworld_illustrasjonsbilde.jpg"] {
  border-radius: 10px;
  border: 2px solid red;
  box-shadow: 0px 0px 15px red;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 0;
}

ul li a {
  text-decoration: none;
  padding: 15px 73px;
  border: 2px solid red;
  color: white;
  background-color: black;
}

ul li a:hover {
  background-color: red;
  color: black;
}

ul li a:active {
  background-color: darkgrey;
  color: white;
}

a[href="https://westworld.com"]
{
  color: red;
  text-decoration: underline;
}
